{% extends 'base.html'%}

{% block content %}

<header style="position: fixed;top:0px;left: 0px;right: 0px;;z-index:400;" class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
    <div class="container-fluid">
      <a style="color: #3a70ad; " class="navbar-brand" href="index.html"><h2>Musical</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    

    <form action="login/">
    <button style="margin-left:40px;" type="submit" class="btn btn-info">Login</button></form>
    <form action="signup/">
    <button style="margin-left:5px;" type="submit" class="btn btn-info">Signup</button>


  </form>

</div>
</div>
</header>

{% endblock %}